In [1]:
import numpy as np 
import pandas as pd

In [2]:
series=pd.read_csv("netflix.csv")
series.head(3)

,imdb_id,title,popular_rank,certificate,startYear,endYear,episodes,runtime,type,orign_country,language,plot,summary,rating,numVotes,genres,isAdult,cast,image_url
0,tt4052886,Lucifer,1,15,2016.0,NaN,93.0,42,tvSeries,United States,English,Lucifer Morningstar has decided he's had enoug...,"Lucifer Morningstar, bored from his sulking li...",8.1,250884.0,"Crime,Drama,Fantasy",0,"['Tom Ellis', 'Lauren German', 'Lesley-Ann Bra...",https://m.media-amazon.com/images/M/MV5BNzY1Yj...
1,tt0993840,Army of the Dead,2,18,2021.0,NaN,NaN,148,movie,United States,English,"Following a zombie outbreak in Las Vegas, a gr...","With the abandoned, walled city of Las Vegas o...",5.8,110780.0,"Action,Crime,Horror",0,"['Dave Bautista', 'Ella Purnell', 'Ana de la R...",https://m.media-amazon.com/images/M/MV5BNGY0Nz...
2,tt7255502,The Kominsky Method,3,18,2018.0,2021.0,22.0,30,tvSeries,United States,English,"An aging actor, who long ago enjoyed a brush w...",Michael Douglas plays an actor who made it big...,8.2,28795.0,"Comedy,Drama",0,"['Michael Douglas', 'Sarah Baker', 'Graham Rog...",https://m.media-amazon.com/images/M/MV5BMzA0YT...

In [3]:
# we will now drop the columns which we don't require for our project
# we will only keep those columns which we require for the project

In [4]:
# we will keep these columns only 
#title
#id
#genre
#plot
#cast
#image url - for the posters

In [5]:
netflix=series[['title','imdb_id','genres','summary','cast','image_url']]

In [6]:
netflix.head(1)

,title,imdb_id,genres,summary,cast,image_url
0,Lucifer,tt4052886,"Crime,Drama,Fantasy","Lucifer Morningstar, bored from his sulking li...","['Tom Ellis', 'Lauren German', 'Lesley-Ann Bra...",https://m.media-amazon.com/images/M/MV5BNzY1Yj...

In [7]:
# pre-processing 
netflix.isnull().sum()
# as we can see genres column contain 2 null rows so we have to drop them

title        0
imdb_id      0
genres       2
summary      0
cast         0
image_url    0
dtype: int64

In [8]:
netflix1=netflix.dropna()
df=netflix1.drop(7004)

In [9]:
netflix1.isnull().sum()

title        0
imdb_id      0
genres       0
summary      0
cast         0
image_url    0
dtype: int64

In [10]:
df.isnull().sum()

title        0
imdb_id      0
genres       0
summary      0
cast         0
image_url    0
dtype: int64

In [11]:
# now we will check for the duplicate data
df.duplicated().sum()

0

In [12]:
# we are now making a list of every row in our summary and genres columns
# so we can concatenate this three columns summary,genres,cast this will be
#called tags

df['summary']=df['summary'].apply(lambda x:x.split())

In [13]:
df.head(1)

,title,imdb_id,genres,summary,cast,image_url
0,Lucifer,tt4052886,"Crime,Drama,Fantasy","[Lucifer, Morningstar,, bored, from, his, sulk...","['Tom Ellis', 'Lauren German', 'Lesley-Ann Bra...",https://m.media-amazon.com/images/M/MV5BNzY1Yj...

In [14]:
df['genres']=df['genres'].apply(lambda x:x.split())

In [15]:
df.head(1)

,title,imdb_id,genres,summary,cast,image_url
0,Lucifer,tt4052886,"[Crime,Drama,Fantasy]","[Lucifer, Morningstar,, bored, from, his, sulk...","['Tom Ellis', 'Lauren German', 'Lesley-Ann Bra...",https://m.media-amazon.com/images/M/MV5BNzY1Yj...

In [16]:
df['genres']=df['genres'].apply(lambda x:[i.replace(" ","")for i in x])

In [17]:
df['cast']=df['cast'].apply(lambda x:x.split())

In [18]:
df['tags']=df['summary']+df['genres']+df['cast']

In [19]:
new_df = df[['imdb_id','title','tags','image_url']]

In [20]:
new_df

,imdb_id,title,tags,image_url
0,tt4052886,Lucifer,"[Lucifer, Morningstar,, bored, from, his, sulk...",https://m.media-amazon.com/images/M/MV5BNzY1Yj...
1,tt0993840,Army of the Dead,"[With, the, abandoned,, walled, city, of, Las,...",https://m.media-amazon.com/images/M/MV5BNGY0Nz...
2,tt7255502,The Kominsky Method,"[Michael, Douglas, plays, an, actor, who, made...",https://m.media-amazon.com/images/M/MV5BMzA0YT...
3,tt0108778,Friends,"[Ross, Geller,, Rachel, Green,, Monica, Geller...",https://m.media-amazon.com/images/M/MV5BNDVkYj...
4,tt9251798,Ragnarok,"[In, the, small, fictional, town, of, Edda, co...",https://m.media-amazon.com/images/M/MV5BODM3NT...
...,...,...,...,...
7002,tt9771894,Ares,"[Rosa,, an, ambitious, and, intelligent, colle...",https://m.media-amazon.com/images/M/MV5BZjUxMD...
7003,tt9777386,Merry Happy Whatever,"[When, his, daughter, arrives, home, for, the,...",https://m.media-amazon.com/images/M/MV5BOTc0ND...
7005,tt9817600,Losers,"[The, life, of, Michael, Bentt,, a, champion, ...",https://m.media-amazon.com/images/M/MV5BOTY3Zj...
7006,tt9842922,Firefly Lane,"[Kate, experiences, the, force, of, nature, th...",https://m.media-amazon.com/images/M/MV5BODM3OW...
7007,tt9865968,Medical Police,"[-, Comedy, ['Erinn, Hayes',, 'Rob, Huebel',, ...",https://m.media-amazon.com/images/M/MV5BZTU5NT...

In [21]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\Md Shadan\AppData\Local\Temp\ipykernel_1576\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [22]:
new_df.head()

,imdb_id,title,tags,image_url
0,tt4052886,Lucifer,"Lucifer Morningstar, bored from his sulking li...",https://m.media-amazon.com/images/M/MV5BNzY1Yj...
1,tt0993840,Army of the Dead,"With the abandoned, walled city of Las Vegas o...",https://m.media-amazon.com/images/M/MV5BNGY0Nz...
2,tt7255502,The Kominsky Method,Michael Douglas plays an actor who made it big...,https://m.media-amazon.com/images/M/MV5BMzA0YT...
3,tt0108778,Friends,"Ross Geller, Rachel Green, Monica Geller, Joey...",https://m.media-amazon.com/images/M/MV5BNDVkYj...
4,tt9251798,Ragnarok,In the small fictional town of Edda coming of ...,https://m.media-amazon.com/images/M/MV5BODM3NT...

In [23]:
new_df['tags'][0]

"Lucifer Morningstar, bored from his sulking life in hell, comes to live in Los Angeles. While there, he helps humanity with its miseries through his experience and telepathic abilities to bring people's deepest desires and thoughts out of them. While meeting with a Detective in his nightclub (Lux), a shootout involving him and the Detective leads him to become an LAPD consultant who tries to punish people for their crimes through law and justice. —ahmetkozan Crime,Drama,Fantasy ['Tom Ellis', 'Lauren German', 'Lesley-Ann Brandt', 'Kevin Alejandro', 'D.B. Woodside', 'Rachael Harris', 'Scarlett Estevez', 'Aimee Garcia', 'Tricia Helfer', 'Tom Welling', 'Inbar Lavi', 'Kevin Rankin', 'Graham McTavish', 'Dennis Haysbert', 'Genevieve Gauss', 'John Specogna', 'Jeremiah Birkett', 'Cailan Robinson']"

In [24]:
new_df['tags']=new_df['tags'].apply(lambda x: str(x).strip('[]').replace("'", ""))

C:\Users\Md Shadan\AppData\Local\Temp\ipykernel_1576\256563488.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: str(x).strip('[]').replace("'", ""))

In [25]:
new_df['tags'][0]

'Lucifer Morningstar, bored from his sulking life in hell, comes to live in Los Angeles. While there, he helps humanity with its miseries through his experience and telepathic abilities to bring peoples deepest desires and thoughts out of them. While meeting with a Detective in his nightclub (Lux), a shootout involving him and the Detective leads him to become an LAPD consultant who tries to punish people for their crimes through law and justice. —ahmetkozan Crime,Drama,Fantasy [Tom Ellis, Lauren German, Lesley-Ann Brandt, Kevin Alejandro, D.B. Woodside, Rachael Harris, Scarlett Estevez, Aimee Garcia, Tricia Helfer, Tom Welling, Inbar Lavi, Kevin Rankin, Graham McTavish, Dennis Haysbert, Genevieve Gauss, John Specogna, Jeremiah Birkett, Cailan Robinson'

In [26]:
new_df['tags']= new_df['tags'].apply(lambda x: str(x).replace('[', '').replace(']', ''))

C:\Users\Md Shadan\AppData\Local\Temp\ipykernel_1576\826651125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']= new_df['tags'].apply(lambda x: str(x).replace('[', '').replace(']', ''))

In [27]:
new_df['tags'][0]

'Lucifer Morningstar, bored from his sulking life in hell, comes to live in Los Angeles. While there, he helps humanity with its miseries through his experience and telepathic abilities to bring peoples deepest desires and thoughts out of them. While meeting with a Detective in his nightclub (Lux), a shootout involving him and the Detective leads him to become an LAPD consultant who tries to punish people for their crimes through law and justice. —ahmetkozan Crime,Drama,Fantasy Tom Ellis, Lauren German, Lesley-Ann Brandt, Kevin Alejandro, D.B. Woodside, Rachael Harris, Scarlett Estevez, Aimee Garcia, Tricia Helfer, Tom Welling, Inbar Lavi, Kevin Rankin, Graham McTavish, Dennis Haysbert, Genevieve Gauss, John Specogna, Jeremiah Birkett, Cailan Robinson'

In [28]:
new_df.head()

,imdb_id,title,tags,image_url
0,tt4052886,Lucifer,"Lucifer Morningstar, bored from his sulking li...",https://m.media-amazon.com/images/M/MV5BNzY1Yj...
1,tt0993840,Army of the Dead,"With the abandoned, walled city of Las Vegas o...",https://m.media-amazon.com/images/M/MV5BNGY0Nz...
2,tt7255502,The Kominsky Method,Michael Douglas plays an actor who made it big...,https://m.media-amazon.com/images/M/MV5BMzA0YT...
3,tt0108778,Friends,"Ross Geller, Rachel Green, Monica Geller, Joey...",https://m.media-amazon.com/images/M/MV5BNDVkYj...
4,tt9251798,Ragnarok,In the small fictional town of Edda coming of ...,https://m.media-amazon.com/images/M/MV5BODM3NT...

In [29]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\Md Shadan\AppData\Local\Temp\ipykernel_1576\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [30]:
new_df.head()

,imdb_id,title,tags,image_url
0,tt4052886,Lucifer,"lucifer morningstar, bored from his sulking li...",https://m.media-amazon.com/images/M/MV5BNzY1Yj...
1,tt0993840,Army of the Dead,"with the abandoned, walled city of las vegas o...",https://m.media-amazon.com/images/M/MV5BNGY0Nz...
2,tt7255502,The Kominsky Method,michael douglas plays an actor who made it big...,https://m.media-amazon.com/images/M/MV5BMzA0YT...
3,tt0108778,Friends,"ross geller, rachel green, monica geller, joey...",https://m.media-amazon.com/images/M/MV5BNDVkYj...
4,tt9251798,Ragnarok,in the small fictional town of edda coming of ...,https://m.media-amazon.com/images/M/MV5BODM3NT...

In [31]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [32]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [33]:
new_df.loc[:, 'tags'] = new_df['tags'].apply(stem)

C:\Users\Md Shadan\AppData\Local\Temp\ipykernel_1576\2639664034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[:, 'tags'] = new_df['tags'].apply(stem)

In [34]:
# now that we have our data in the format which we want now we will do 
# vectorization the famous technique we will use bag of words where each word in the text is considered as a feature, and the frequency of each word is counted.

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=6000,stop_words='english')

In [36]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [37]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [38]:
(cv.get_feature_names())

C:\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '1960',
 '1960s',
 '1970',
 '1980',
 '1980s',
 '1986',
 '1990',
 '1994',
 '1999',
 '19th',
 '20',
 '200',
 '2008',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '20th',
 '21',
 '21st',
 '22',
 '23',
 '24',
 '25',
 '30',
 '300',
 '35',
 '40',
 '400',
 '50',
 '500',
 '60',
 '70',
 '80',
 '80s',
 '90',
 'aang',
 'aaron',
 'abandon',
 'abbi',
 'abbott',
 'abdel',
 'abduct',
 'abdul',
 'abdullah',
 'abe',
 'abel',
 'abhishek',
 'abigail',
 'abil',
 'abilities',
 'abl',
 'aboard',
 'abov',
 'abraham',
 'abrams',
 'abril',
 'abroad',
 'absolut',
 'absurd',
 'abu',
 'abus',
 'academ',
 'academi',
 'academy',
 'accept',
 'access',
 'accid',
 'accident',
 'acclaim',
 'accompani',
 'accomplish',
 'accord',
 'account',
 'accus',
 'ace',
 'achiev',
 'acosta',
 'acquaint',
 'acquir',
 'act',
 'action',
 'activ',
 'activist',
 'actor',
 'actress',
 'actual',
 'ad',
 'ada',
 'adam',
 'adams',
 'adapt',
 'add',
 'addict',
 'addison',
 'addit',
 'address',
 'adeel',
 'adel',
 'adi',
 'adil',
 'adina',
 'aditya',
 'adjust',
 'adkins',
 'adler',
 'admit',
 'adolesc',
 'adolf',
 'adopt',
 'ador',
 'adrian',
 'adriana',
 'adriano',
 'adrienn',
 'adrián',
 'adult',
 'adulthood',
 'advanc',
 'advantag',
 'adventur',
 'adventure',
 'adventures',
 'advertis',
 'ae',
 'affair',
 'affect',
 'afford',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'aftermath',
 'ag',
 'agata',
 'agatha',
 'age',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggress',
 'aghaemi',
 'agnieszka',
 'ago',
 'agre',
 'aguilar',
 'ah',
 'ahead',
 'ahm',
 'ahmad',
 'ahmed',
 'ahmet',
 'ahmetkozan',
 'ahn',
 'ai',
 'aid',
 'aida',
 'aidan',
 'aiden',
 'aim',
 'aime',
 'air',
 'airport',
 'aisha',
 'aitor',
 'aj',
 'ajay',
 'aka',
 'akhtar',
 'aki',
 'akiko',
 'akin',
 'akio',
 'akira',
 'akko',
 'al',
 'alain',
 'alan',
 'alana',
 'alazraqui',
 'alba',
 'alban',
 'albert',
 'alberto',
 'albright',
 'album',
 'alcohol',
 'aldo',
 'alec',
 'alejandra',
 'alejandro',
 'alek',
 'aleksandr',
 'alessandra',
 'alessandro',
 'alex',
 'alexa',
 'alexand',
 'alexander',
 'alexandr',
 'alexandra',
 'alexandria',
 'alexi',
 'alexia',
 'alfi',
 'alfonso',
 'alfr',
 'alfredo',
 'ali',
 'alia',
 'alic',
 'alicia',
 'alien',
 'alina',
 'alisha',
 'alison',
 'alistair',
 'aliv',
 'alive',
 'allan',
 'alleg',
 'allegra',
 'allen',
 'alli',
 'allianc',
 'allison',
 'allow',
 'alma',
 'almeida',
 'alon',
 'alongsid',
 'alonso',
 'alonzo',
 'alreadi',
 'alter',
 'altern',
 'alvarez',
 'alvin',
 'alway',
 'alyson',
 'alyssa',
 'amadeo',
 'amaia',
 'amamiya',
 'amanda',
 'amateur',
 'amaz',
 'amber',
 'ambit',
 'ambiti',
 'amelia',
 'america',
 'american',
 'ami',
 'amid',
 'amidst',
 'amin',
 'amir',
 'amit',
 'amo',
 'amsterdam',
 'ana',
 'anabel',
 'anand',
 'anastasia',
 'ancient',
 'ander',
 'andersen',
 'anderson',
 'andersson',
 'andi',
 'andr',
 'andrade',
 'andrea',
 'andrew',
 'andrews',
 'andrzej',
 'andré',
 'angel',
 'angela',
 'angeles',
 'angelica',
 'angelo',
 'anger',
 'angu',
 'ani',
 'anil',
 'anim',
 'animals',
 'animation',
 'anita',
 'anjali',
 'ann',
 'anna',
 'annabel',
 'anne',
 'annett',
 'anni',
 'announc',
 'annual',
 'anonym',
 'anoth',
 'ansari',
 'answer',
 'answers',
 'antholog',
 'anthoni',
 'anthony',
 'anti',
 'antoin',
 'anton',
 'antoni',
 'antonia',
 'antonio',
 'anurag',
 'anwar',
 'anya',
 'anyon',
 'anyth',
 'aoi',
 'aoki',
 'apart',
 'apartment',
 'apatow',
 'apocalypse',
 'apocalypt',
 'apollo',
 'app',
 'appar',
 'appear',
 'appoint',
 'apprill',
 'approach',
 'april',
 'apte',
 'arai',
 'archer',
 'architect',
 'archiv',
 'arctic',
 'area',
 'arena',
 'arent',
 'argentina',
 'argu',
 'ari',
 'ariana',
 'arias',
 'ariel',
 'arif',
 'aris',
 'arjun',
 'arm',
 'armand',
 'armando',
 'armi',
 'armisen',
 'armitage',
 'armstrong',
 'army',
 'arnett',
 'arnold',
 'arora',
 'arrang',
 'arrest',
 'arriv',
 'arrives',
 'arrog',
 'art',
 'arthur',
 'artifici',
 'artist',
 'arturo',
 'asami',
 'ash',
 'asha',
 'asher',
 'ashleigh',
 'ashley',
 'ashton',
 'asia',
 'asian',
 'asianwiki',
 'ask',
 'aspir',
 'assassin',
 'assault',
 'assembl',
 'assign',
 'assist',
 'associ',
 'assum',
 'astin',
 'astrid',
 'asylum',
 'athlet',
 'atkins',
 'atkinson',
 'atlanta',
 'atsushi',
 'attack',
 'attempt',
 'attenborough',
 'attend',
 'attent',
 'attention',
 'attitud',
 'attorney',
 'attract',
 'aubrey',
 'audienc',
 'audit',
 'audrey',
 'august',
 'aunt',
 'aurora',
 'austin',
 'australia',
 'australian',
 'author',
 'autumn',
 'ava',
 'aveng',
 'averi',
 'avery',
 'avoid',
 'await',
 'awaken',
 'awar',
 'award',
 'away',
 'awkward',
 'axel',
 'aya',
 'ayaka',
 'ayala',
 'ayan',
 'ayana',
 'ayesha',
 'ayo',
 'ayu',
 'ayumi',
 'ayumu',
 'aziz',
 'ba',
 'babi',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'backyard',
 'bacon',
 'bad',
 'bader',
 'bae',
 'baek',
 'bag',
 'bai',
 'bailey',
 'bak',
 'bake',
 'baker',
 'balanc',
 'baldwin',
 'ball',
 'ballard',
 'ballesteros',
 'bamford',
 'ban',
 'band',
 'banerjee',
 'bang',
 'bangkok',
 'bank',
 'banker',
 'banks',
 'baptiste',
 'bar',
 'barack',
 'barbara',
 'barber',
 'barbi',
 'barcelona',
 'bare',
 'barker',
 'barnes',
 'barnett',
 'baron',
 'barr',
 'barrett',
 'barri',
 'barron',
 'barry',
 'bart',
 'bartley',
 'bas',
 'base',
 'basebal',
 'basement',
 'basic',
 'basil',
 'basketbal',
 'basqu',
 'bass',
 'bassett',
 'bateman',
 'battl',
 'battle',
 'bauer',
 'bautista',
 'bauza',
 'baxter',
 'bay',
 'bea',
 'beach',
 'bean',
 'bear',
 'beard',
 'beast',
 'beat',
 'beaten',
 'beatric',
 'beatriz',
 'beau',
 'beauti',
 'becam',
 'becaus',
 'beck',
 'becker',
 'becki',
 'becom',
 'bed',
 'bee',
 'beer',
 'befor',
 'befriend',
 'beg',
 'began',
 'begin',
 'begins',
 'begun',
 'behavior',
 'belcher',
 'belgian',
 'belief',
 'believ',
 'belinda',
 'bell',
 'bella',
 'bello',
 'belong',
 'belov',
 'belén',
 'ben',
 'bend',
 'beneath',
 'benedict',
 'benefit',
 'benjamin',
 'benji',
 'bennett',
 'benni',
 'benson',
 'bent',
 'bentley',
 'berg',
 'berger',
 'berk',
 'berlin',
 'berman',
 'bernal',
 'bernard',
 'bernardo',
 'berni',
 'bernstein',
 'berry',
 'bert',
 'berta',
 'besid',
 'best',
 'bestsel',
 'bet',
 'beth',
 'bethani',
 'betray',
 'betrayal',
 'betsi',
 'better',
 'betti',
 'beverli',
 'bhardwaj',
 'bhattacharya',
 'bi',
 'bianca',
 'big',
 'bigger',
 'biggest',
 'bilal',
 'billi',
 'billion',
 'billionair',
 'bin',
 'biographi',
 'biography',
 'biolog',
 'birch',
 'bird',
 'birth',
 'birthday',
 'bishop',
 'bit',
 'bitter',
 'bizarr',
 'björn',
 'black',
 'blackmail',
 'blain',
 'blair',
 'blake',
 'blame',
 'blanc',
 'blanca',
 'blanchard',
 'blanchett',
 'blanco',
 'blast',
 'blend',
 'blind',
 'bliss',
 'block',
 'blood',
 'bloodi',
 'bloom',
 'blossom',
 'blow',
 'blue',
 'blum',
 'bo',
 'board',
 'boat',
 'bob',
 'bobbi',
 'bodi',
 'body',
 'bodyguard',
 'boe',
 'bogdan',
 'bok',
 'bollywood',
 'bolton',
 'bomb',
 'bon',
 'bond',
 'bone',
 'bong',
 'bonilla',
 'bonni',
 'bono',
 'book',
 'books',
 'boon',
 'boone',
 'boot',
 'booth',
 'border',
 'bore',
 'bori',
 'born',
 'bosch',
 'boss',
 'boston',
 'bottl',
 'bound',
 'boundari',
 'bounti',
 'bowen',
 'bowling',
 'box',
 'boxer',
 'boy',
 'boyd',
 'boyfriend',
 'boyle',
 'boys',
 'brad',
 'bradley',
 'brady',
 'brain',
 'branch',
 'brand',
 'brandi',
 'brandon',
 'brandt',
 'braun',
 'brave',
 'braxton',
 'brazil',
 'brazilian',
 'break',
 'breath',
 'brenda',
 'brendan',
 'brennan',
 'brent',
 'brett',
 'brewster',
 'brian',
 'briana',
 'brianna',
 'bride',
 'bridges',
 'bridget',
 'brie',
 'brief',
 'bright',
 'brigitt',
 'brilliant',
 'brina',
 'bring',
 'brink',
 'britain',
 'british',
 'britt',
 'brittani',
 'brittney',
 'britton',
 'broadway',
 'brock',
 'brody',
 'broke',
 'broken',
 'brook',
 'brooklyn',
 'brooks',
 'brosnan',
 'brother',
 'brothers',
 'brought',
 'brown',
 'browning',
 'bruce',
 'bruna',
 'bruno',
 'brutal',
 'bryan',
 'bryant',
 'bryce',
 'bryn',
 'bu',
 'bubbl',
 'buchanan',
 'buck',
 'buckland',
 'buckley',
 'bud',
 'buddi',
 'buhr',
 'build',
 'building',
 'built',
 'bullet',
 'bulli',
 'bullock',
 'bum',
 'bunch',
 'burch',
 'burgess',
 'buri',
 'burk',
 'burke',
 'burn',
 'burnett',
 'burns',
 'burr',
 'burt',
 'burton',
 'bush',
 'busi',
 'business',
 'businessman',
 'buteau',
 'butler',
 'butt',
 'buy',
 'byeong',
 'byrd',
 'byrne',
 'byrnes',
 'byron',
 'byung',
 'bárbara',
 'ca',
 'cabanos',
 'cabrera',
 'café',
 'cage',
 'cai',
 'cain',
 'caitlin',
 'cal',
 'caleb',
 'california',
 'callan',
 'callum',
 'calum',
 'calvin',
 'cam',
 'camacho',
 'came',
 'camera',
 'cameron',
 'camil',
 'camila',
 'camilla',
 'camp',
 'campaign',
 'campbel',
 'campbell',
 'campos',
 'canada',
 'canadian',
 'cancer',
 'candac',
 'candi',
 'candid',
 'cannavale',
 'cannon',
 'capabl',
 'capit',
 'capital',
 'captain',
 'captiv',
 'captur',
 'car',
 'cara',
 'card',
 'cardona',
 'care',
 'career',
 'carefre',
 'carey',
 'carl',
 'carla',
 'carli',
 'carlo',
 'carlson',
 'carmen',
 'caro',
 'carol',
 'carolin',
 'carolina',
 'carolyn',
 'carpenter',
 'carr',
 'carretero',
 'carri',
 'carrol',
 'carroll',
 'carson',
 'cartel',
 'carter',
 'cartoon',
 'carvalho',
 'carver',
 'casas',
 'case',
 'cases',
 'casey',
 'cash',
 'casino',
 'cassandra',
 'cassi',
 'cassidi',
 'cassidy',
 'cast',
 'castillo',
 'castl',
 'castle',
 'castro',
 'casual',
 'cat',
 'catastroph',
 'catch',
 'cate',
 'caterina',
 'catherin',
 'cathi',
 'cathol',
 'caught',
 'caus',
 'cave',
 'cecilia',
 'cedric',
 'celebr',
 'celest',
 'celia',
 'cell',
 'cem',
 'cengiz',
 'cent',
 'center',
 'centr',
 'central',
 'centuri',
 'century',
 'ceo',
 'certain',
 'cervantes',
 'cesar',
 'ceylan',
 'cha',
 'chad',
 'chadwick',
 'chae',
 'chain',
 'challeng',
 'challenge',
 'challenges',
 'chambers',
 'champion',
 'championship',
 'chan',
 'chanc',
 'chance',
 'chandler',
 'chanel',
 'chang',
 'change',
 'changed',
 'channel',
 'chao',
 'chaotic',
 'chapman',
 'chappel',
 'charact',
 'character',
 'characters',
 'charg',
 'charismat',
 'charl',
 'charles',
 'charli',
 'charlott',
 'charm',
 'chart',
 'chase',
 'chatterjee',
 'chauhan',
 'chavez',
 'che',
 'cheat',
 'check',
 'cheer',
 'chef',
 'chelsea',
 'chen',
 'cheng',
 'cheol',
 'cherami',
 'cherry',
 'cheryl',
 'cheung',
 'chi',
 'chia',
 'chiang',
 'chiara',
 'chiba',
 'chicago',
 'chief',
 'chien',
 'child',
 'childhood',
 'children',
 'chill',
 'chin',
 'china',
 'chines',
 'ching',
 'chip',
 'chisholm',
 ...]

In [39]:
# now that our tags columns converted into vectors 
# we have to now calculate the distace between each movie
# we will calculate cosine distance because it gives accurate result when 
# your dimensions are very big like in our case so we will use cosine

In [40]:
from sklearn.metrics.pairwise import cosine_similarity

In [41]:
diff = cosine_similarity(vectors)

In [42]:
sorted(list(enumerate(diff[4])),reverse=True,key=lambda x:x[1])[1:6]

[(6446, 0.32357511446471693),
 (3476, 0.22880215766121476),
 (3613, 0.21664744340223566),
 (1849, 0.20483662259967567),
 (5548, 0.20446520502738266)]

In [43]:
def recommend(movie):
    movie_index = new_df[new_df['title']==movie].index[0]
    distances = diff[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [44]:
recommend('She')

 She
Issaq
Baahubali: Before the Beginning
The Formula
Money Heist Korea

In [45]:
import pickle

In [46]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [47]:
pickle.dump(new_df.to_dict,open('movies_dict2.pkl','wb'))

In [48]:
pickle.dump(diff,open('similarity.pkl','wb'))

In [49]:
pickle.dump(df,open('df.pkl','wb'))